<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <settings>
        <!--log4j日志-->
        <setting name="logImpl" value="LOG4J"/>
        <!--缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--配置别名-->
    <typeAliases>
        <package name="com.ren.li.mybatis.day02.pojo"/>
    </typeAliases>

    <!--配置环境-->
    <environments default="dev">
        <!--具体的环境-->
        <environment id="dev">
            <!--配置事务管理-->
            <transactionManager type="JDBC"/>
            <!--配置数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.Driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--配置映射文件-->
    <mappers>
        <!--一个一个mapper.xml文件的写上去-->
<!--
        <mapper resource="mapper/UserMapper.xml"/>
-->
        <!--package 一整个包 ， 必须和main里的mapper路径一样-->
        <package name="com.ren.li.mybatis.day02.mapper"/>
    </mappers>
</configuration>